.bttn {
    background: #445566;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 20rem;
    margin-top: 1rem;
}

.cont {
    padding-top: 4rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bttnUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    
    
}

.btUpper {
    margin-top: 1rem;
    color: #cfe6ff;
    margin-bottom: 1rem;
}

.rating {
    color: #cfe6ff;
    font-size: 3rem;
}

.btBottom {
    width: 100%;
    border-top: #cfe6ff solid 0.1rem;
    padding-top: 2rem;
    margin-top: 1rem;
    color: #cfe6ff;
    font-size: 1.5rem;
}

.star {
    padding-top: 2rem;
}